<?xml version="1.0"?>
<config>
  <modules>
  	<Ezapps_Zoom>
        	<version>1.0.4</version>
  	</Ezapps_Zoom>
  </modules>
  <crontab>
        <jobs>
            	<ezzoom>
                	<schedule><cron_expr>* * * * *</cron_expr></schedule>
                	<run><model>ezzoom/cron::cleanCache</model></run>
        	</ezzoom>
        </jobs>
  </crontab>
  <global>
        <models>
                <ezzoom>
                        <class>Ezapps_Zoom_Model</class>
			<resourceModel>ezzoom_mysql4</resourceModel>
                </ezzoom>
		<ezzoom_mysql4>
			<class>Ezapps_Zoom_Model_Mysql4</class>
			<entities>
				<ezapps_zoom_page><table>ezapps_zoom_page</table></ezapps_zoom_page>
			</entities>
		</ezzoom_mysql4>
		<core>
			 <rewrite>
				<url>Ezapps_Zoom_Model_Url</url>
			 </rewrite>
		</core>
        </models>
        <blocks>
        	<ezzoom>
                	<class>Ezapps_Zoom_Block</class>
        	</ezzoom>
                <catalog>
                        <rewrite>
				<product_compare_sidebar>Ezapps_Zoom_Block_Wrapper_Compare</product_compare_sidebar>
				<product_list_toolbar>Ezapps_Zoom_Block_Toolbar</product_list_toolbar>
                        </rewrite>
                </catalog>
                <checkout>
                        <rewrite>
				<cart_sidebar>Ezapps_Zoom_Block_Wrapper_Cart</cart_sidebar>
                        </rewrite>
                </checkout>
                <directory>
                        <rewrite>
                                <currency>Ezapps_Zoom_Block_Wrapper_Currency</currency>
                        </rewrite>
                </directory>
                <reports>
                        <rewrite>
				<product_viewed>Ezapps_Zoom_Block_Wrapper_Viewed</product_viewed>
				<product_compared>Ezapps_Zoom_Block_Wrapper_Compared</product_compared>
                        </rewrite>
                </reports>
                <page>
                        <rewrite>
				<template_links>Ezapps_Zoom_Block_Wrapper_Links</template_links>
				<html_header>Ezapps_Zoom_Block_Wrapper_Header</html_header>
                        </rewrite>
                </page>
                <poll>
                        <rewrite>
				<activePoll>Ezapps_Zoom_Block_Wrapper_Poll</activePoll>
                        </rewrite>
                </poll>
		<sales>
			<rewrite>
				<reorder_sidebar>Ezapps_Zoom_Block_Wrapper_Reorder</reorder_sidebar>
			</rewrite>
		</sales>
		<core>
			<rewrite>
				<messages>Ezapps_Zoom_Block_Wrapper_Messages</messages>
			</rewrite>
		</core>
		<page>
			<rewrite>
				<html_notices>Ezapps_Zoom_Block_Wrapper_Notices</html_notices>
			</rewrite>
		</page>
                <wishlist>
                        <rewrite>
				<customer_sidebar>Ezapps_Zoom_Block_Wrapper_Wishlist</customer_sidebar>
                        </rewrite>
                </wishlist>
        </blocks>
        <helpers>
        	<ezzoom>
        		<class>Ezapps_Zoom_Helper</class>
        	</ezzoom>
        </helpers>
        <resources>
                <ezzoom_setup>
                        <setup>
                                <module>Ezapps_Zoom</module>
                        </setup>
                        <connection>
                                <use>core_setup</use>
                        </connection>
                </ezzoom_setup>
                <ezzoom_write>
                        <connection>
                                 <use>core_write</use>
                        </connection>
                </ezzoom_write>
                <ezzoom_read>
                        <connection>
                                <use>core_read</use>
                        </connection>
                </ezzoom_read>
        </resources>
  </global>
  <frontend>
       <routers>
            	<ezzoom>
                	<use>standard</use>
                	<args>
                    		<module>Ezapps_Zoom</module>
                    		<frontName>ezzoom</frontName>
                	</args>
            	</ezzoom>
                <directory>
                       <args>
                        	<modules>
                        	        <Ezapps_Zoom before="Mage_Directory">Ezapps_Zoom</Ezapps_Zoom>
                        	</modules>
                        </args>
                 </directory>
        </routers>
        <layout>
        	<updates>
                	<ezzoom>
                    		<file>ezzoom.xml</file>
                	</ezzoom>
            	</updates>
        </layout>
  </frontend>
  <adminhtml>
	<events>
		<cms_page_prepare_save>
			<observers>
				<ezzoom_cms_save>
                        		<type>model</type>
                        		<class>ezzoom/observer</class>
                        		<method>clearCMS</method>
				</ezzoom_cms_save>
			</observers>
		</cms_page_prepare_save>
		<catalog_category_prepare_save>
                        <observers>
                                <ezzoom_category_save>
                                        <type>model</type>
                                        <class>ezzoom/observer</class>
                                        <method>clearCategory</method>
                                </ezzoom_category_save>
                        </observers>
		</catalog_category_prepare_save>
		<catalog_product_prepare_save>
                        <observers>
                                <ezzoom_product_save>
                                        <type>model</type>
                                        <class>ezzoom/observer</class>
                                        <method>clearProduct</method>
                                </ezzoom_product_save>
                        </observers>
                </catalog_product_prepare_save>
	</events>
        <menu>
	        <ezzoom module="ezzoom">
        	        <title>Zoom</title>
                	<sort_order>50</sort_order>
                        <children>
                                <pages translate="title"  module="ezzoom">
                               	        <title>View Page Cache</title>
                                        <action>ezzoom/adminhtml_ezzoom</action>
					<sort_order>10</sort_order>
                                </pages>
                                <settings translate="title"  module="ezzoom">
                               	        <title>Configure Zoom</title>
                                        <action>adminhtml/system_config/edit/section/ezzoom_general</action>
					<sort_order>20</sort_order>
                       		</settings>
                        </children>
                </ezzoom>
        </menu>
	<admin>
                <children>
                    <ezzoom translate="title" module="ezzoom">
                        <title>Zoom Cache Manager</title>
                        <sort_order>50</sort_order>
                        <children>
                                <pages translate="title"  module="ezzoom">
                               	        <title>View Page Cache</title>
                                        <action>ezzoom/adminhtml_ezzoom</action>
					<sort_order>10</sort_order>
                                </pages>
                                <settings translate="title"  module="ezzoom">
                               	        <title>Configure Zoom</title>
                                        <action>adminhtml/system_config/edit/section/ezzoom_general</action>
					<sort_order>20</sort_order>
                                </settings>
                        </children>
                   </ezzoom>
               </children>
        </admin>
        <layout>
        	<updates>
                	<ezzoom>
                    		<file>ezzoom.xml</file>
                	</ezzoom>
            	</updates>
        </layout>
        <acl>
        	<resources>
			<all>
        	        	<title>Allow Everything</title>
	                </all>
                	<admin>
                    		<children>
					<ezzoom>
						<title>Zoom Interface</title>
                            			<sort_order>10</sort_order>
                            			<children>
                                			<pages>
                                    				<title>Cache Control</title>
                                			</pages>
                                			<settings>
                                    				<title>Configure Zoom</title>
                                			</settings>
						</children>
					</ezzoom>
                        		<system>
                            			<children>
                                			<config>
                                    				<children>
                                        				<ezzoom_general>
                                            					<title>Zoom Cache Configuration</title>
                                        				</ezzoom_general>
                                    				</children>
                                			</config>
                            			</children>
                        		</system>
                    		</children>
            		</admin>
        	</resources>
        </acl>
  </adminhtml>
  <default>
	<ezzoom_general>
		<basicsettings>
			<active>0</active>
			<base_cache_path>zoom</base_cache_path>
			<gzip>0</gzip>
			<gzip_copy>1</gzip_copy>
			<normalize_urls>1</normalize_urls>
			<friendly_urls>0</friendly_urls>
		</basicsettings>
		<cache_control>
			<cache_ttl>7200</cache_ttl>
			<cache_product_ttl>7200</cache_product_ttl>
			<cache_review_ttl>7200</cache_review_ttl>
			<cache_category_ttl>7200</cache_category_ttl>
			<cache_cms_ttl>7200</cache_cms_ttl>
			<zoom_product>1</zoom_product>
			<zoom_review>1</zoom_review>
			<zoom_category>1</zoom_category>
			<zoom_cms>1</zoom_cms>			
		</cache_control>
		<holepunch>
			<punch_messages>2</punch_messages>
			<punch_notices>2</punch_notices>
			<punch_reorder>2</punch_reorder>
			<punch_poll>2</punch_poll>
			<punch_cart>2</punch_cart>
			<punch_compare>2</punch_compare>
			<punch_header>2</punch_header>
			<punch_links>2</punch_links>
			<punch_viewed>2</punch_viewed>
			<punch_compared>2</punch_compared>
			<punch_wishlist>2</punch_wishlist>
			<punch_currency>0</punch_currency>
		</holepunch>
		<links_configuration>
			<log_position>100</log_position>
			<myaccount_position>10</myaccount_position>
			<wishlist_position>30</wishlist_position>
			<cart_position>50</cart_position>
			<checkout_position>60</checkout_position>
			<zoom_addlinks></zoom_addlinks>
		</links_configuration>
		<debug>
			<ajax_debug>1</ajax_debug>
			<regex_debug>1</regex_debug>
		</debug>
		<ezzoomlink>
			<addlink>0</addlink>
			<style>width:100%;margin-left:auto;margin-right:auto;text-align:center;margin-bottom:5px</style>
		</ezzoomlink>
	</ezzoom_general>
  </default>
</config>
