<?xml version="1.0"?>
<config>
  <modules>
  	<Ezapps_Tools>
        	<version>0.1.0</version>
    	</Ezapps_Tools>
  </modules>
  <global>
        <models>
                <eztools>
                        <class>Ezapps_Tools_Model</class>
                </eztools>
        </models>
        <helpers>
        	<eztools>
        		<class>Ezapps_Tools_Helper</class>
        	</eztools>
        </helpers>
        <blocks>
        	<eztools>
                	<class>Ezapps_Tools_Block</class>
        	</eztools>
		<adminhtml>
			<rewrite>
				<dashboard_diagrams>Ezapps_Tools_Block_Adminhtml_Dashboard_Diagrams</dashboard_diagrams>
			</rewrite>
		</adminhtml>
        </blocks>
        <resources>
                <eztools_setup>
                        <setup>
                                <module>Ezapps_Tools</module>
                        </setup>
                        <connection>
                                <use>core_setup</use>
                        </connection>
                </eztools_setup>
                <eztools_write>
                        <connection>
                                 <use>core_write</use>
                        </connection>
                </eztools_write>
                <eztools_read>
                        <connection>
                                <use>core_read</use>
                        </connection>
                </eztools_read>
        </resources>
  </global>
  <frontend>
	<events>
            <controller_action_predispatch>
                <!--<observers>
                    <ez_initnotification>
                        <class>eztools/observer</class>
                        <method>initFeed</method>
                    </ez_initnotification>
                </observers>-->
            </controller_action_predispatch>
        </events>
  </frontend>
  <adminhtml>
        <events>
            <controller_action_predispatch>
                <observers>
                    <ez_adminnotification>
                        <class>eztools/observer</class>
                        <method>preDispatch</method>
                    </ez_adminnotification>
                </observers>
            </controller_action_predispatch>
        </events>
  </adminhtml>
  <default>
        <eztools>
            <adminnotification>
                <feed_url>www.ezapps.ca/notifications.rss</feed_url>
                <popup_url>widgets.magentocommerce.com/notificationPopup</popup_url>
                <severity_icons_url>widgets.magentocommerce.com/%s/%s.gif</severity_icons_url>
                <use_https>0</use_https>
                <frequency>1</frequency>
                <last_update>0</last_update>
		<feed_count>0</feed_count>
            </adminnotification>
        </eztools>
  </default>
</config>
